* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;

}


.container {
    margin: 50px auto !important;
    background: cadetblue;
    width: 800px;
    border-radius: 10px;
    padding-bottom: 15px;
}

body {
    background: url(../img/main-pic.png) no-repeat;
    background-size: 100%;
}

.bg-primary {
    --bs-bg-opacity: 1;
    background-color: rgb(24, 122, 122)!important;
}


div {
    opacity: 0.9;
     padding: 1px;
  }

.title {
    text-align: center;
}

.button-text-color {
    color: white;
}

.btn-primary {
    background-color:rgb(24, 122, 122);
    border-color:transparent;
    padding: 1px 10px;
}

.code {
  white-space: pre;
}
