{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block menu %}
<button type="button" class="btn btn-primary button"><a href="{% url 'to_do_add' %}" class="button-text-color">Add
    Task</a></button>
{% endblock %}
{% block content %}
<h1 class="title">To-Do list</h1>


<form action="" method="post">
  {% for task in tasks %}
  <ol class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <p><input type="checkbox" name="checkedbox" value="{{ task.id }}"></p>
      <div class="ms-2 me-auto">
        <div class="fw-bold">Title: {{ task.title }}</div>
        <div class="fw-bold">Task description: {{ task.description }}</div>
      </div>
      <span class="badge bg-primary rounded-pill"><a href="{% url 'to_do_detail' task.pk%}"
          class="button-text-color">More
          info..</a></span>
      <span class="badge bg-primary rounded-pill"><a href="{% url 'to_do_update' task.pk%}"
          class="button-text-color">Update</a></span>
    </li>
  </ol>
  {% endfor %}
  {% csrf_token %}
  <p><input class="btn btn-danger" type="submit" value="Delete ticked boxes" name="Delete"></p>
</form>

{% endblock %}